@model SistemaWebMisRecetas.Models.Receta

@{
    ViewData["Title"] = "Details";
}

@section SideBar{
    <ul>
        <li>@Html.ActionLink("Recetas", "Index", "Receta")</li>
        <li>@Html.ActionLink("Nueva", "Create", "Receta")</li>
        <li>@Html.ActionLink("Editar", "Index", "Receta")</li>
        <li>@Html.ActionLink("Eliminar", "Index", "Receta")</li>
    </ul>
}

<h1>Ver Detalle</h1>
<br>


<div>
    <span>@Html.DisplayNameFor(model => model.Titulo)</span>:
    <span>@Html.DisplayFor(model => model.Titulo)</span>
</div>
<br>
<div>
    <span>@Html.DisplayNameFor(model => model.Categoria)</span>:
    <span>@Html.DisplayFor(model => model.Categoria)</span>
</div>
<br>
<div>
    <span>@Html.DisplayNameFor(model => model.Ingredientes)</span>:
    <span>@Html.DisplayFor(model => model.Ingredientes)</span>
</div>
<br>
<div>
    <span>@Html.DisplayNameFor(model => model.Instrucciones)</span>:
    <span>@Html.DisplayFor(model => model.Instrucciones)</span>
</div>
<br>
<div>
    <span>@Html.DisplayNameFor(model => model.AutorNombre)</span>:
    <span>@Html.DisplayFor(model => model.AutorNombre)</span>
</div>
<br>
<div>
    <span>@Html.DisplayNameFor(model => model.AutorApellido)</span>:
    <span>@Html.DisplayFor(model => model.AutorApellido)</span>
</div>
<br>
<div>
    <span>@Html.DisplayNameFor(model => model.AutorEdad)</span>:
    <span>@Html.DisplayFor(model => model.AutorEdad)</span>
</div>
<br>
<div>
    <span>@Html.DisplayNameFor(model => model.AutorEmail)</span>:
    <span>@Html.DisplayFor(model => model.AutorEmail)</span>
</div>
<br>

@Html.ActionLink("Volver a index", "Index", "Receta")

