<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <p>MIS RECETAS</p>
    </header>
    <navbar>
        @Html.ActionLink("Inicio", "Index", "Home")
        @Html.ActionLink("Recetas", "Index", "Receta")
    </navbar>
    <main>
        @RenderBody()
    </main>
    <aside>
        @if (IsSectionDefined("SideBar"))
        {
            @RenderSection("SideBar")
        }
        else
        {
            <ul>
                <li>¡Bienvenido!</li>
                <li><img src="~/img/1.jpg" /></li>
                <li><img src="~/img/3.jpg" /></li>
                <li><img src="~/img/4.jpg" /></li>
            </ul>
        }
    </aside>
    <footer>
        <p>misrecetas@web.com</p>
    </footer>
</body>
</html>






